//Colors
$bg-primary-color: #151515;
$color-grey_dark: #242424;
$color-green_light: #4EE1A0;
$color-grey_light: #D9D9D9;
$color-white: #FFFFFF;

//Typography
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
$fontFamily:  'Space Grotesk', sans-serif;
$headerFontXLarge: 88px;
$headerFontLarge: 48px;
$headerMedium: 24px;
$bodyFont: 18px;
$headerXLargeLine: 88px;
$headerXLargeCharSpacing: -2.5px;
$headerLargeLine: 56px;
$headerLargeCharSpacing: -1.5px;
$headerMediumLine: 32px;
$bodyFontLine: 28px; 
$borderBottomLine: 3px solid $color-green_light;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
p {
    margin: 0;
}
body {
    background-color: $bg-primary-color;
    font-size: $bodyFont;
    line-height: $bodyFontLine;
    color: $color-white;
    font-family: $fontFamily;
    padding: 0;
    margin: 0;
    width: 100vw;
   

     main {
        .navbar {
            text-align: center;
            //margin-top: 20px;

            .nav-title {
                font-size: $headerMedium;
                letter-spacing: -0.33px;
                font-weight: 500;
                line-height: $headerMediumLine;
                margin-bottom: 2rem;
            }
            a {
                text-decoration: none;
                margin-right: 1.4rem;
               
                &:last-child{
                    margin-right: 0;
                }
                img {
                    width: 19px;
                }
            }


        }

        .header {
            width: 174px;
            margin: 0 auto;
            height: 383px;
            background: rgb(36,36,36);
            background: linear-gradient(177deg, rgba(36, 36, 36, 0.356) 0%, rgba(36,36,36,0) 100%);
            position: relative;
            padding-top: 20px;
            margin-bottom: 1.9rem;
            
            
            
           .hero {

            .hero-image {
                img {
                    margin-top: 2.5rem;
                    width: 174px;
                    height: 230px;
                    object-fit: contain;
                    
                }
            }

            .background-patterns {

                img:first-child {
                    width: 530px;
                    position: absolute;
                    right: 110px;
                    top: 130px;
                    z-index: -1;
                }

                img:last-child {
                    position: absolute;
                    left: 230px;
                    bottom: 5px;
                    z-index: -1;
                    width: 129px;
                }
            }
           } 

        }

        .greetings-content {
            width: 90%;
            margin: 0 auto;
            text-align: center;

            .greetings, .name {
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 1.2rem;
                letter-spacing: -1.14px;
            }

            .name {
                text-transform: capitalize;
                margin-bottom: 3rem;
                span {
                    border-bottom: 4px solid $color-green_light;
                    padding: 0;
                }
            }

            .about {
                font-size: 1.6rem;
                font-weight: 500;
                margin-bottom: 2.5rem;
            }
           
            
        }
        
        .contact-link {
            text-decoration: none;
            padding: 0 0 1.2rem 0;
            border-bottom: $borderBottomLine;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2.29px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color: $color-green_light;
            }
        }

        .experience {
            text-align: center;
            width: 90%;
            padding: 4rem 0 1rem 0;
            margin: 10rem auto;
            border-top: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            border-collapse: separate;
            position: relative;

            .experience-item {
                text-transform: capitalize;
                margin-bottom: 3rem;
                h2 {
                    margin: 1rem;
                    
                    font-size: 4rem;
                }

                &:first-child, &:nth-child(2) {
                    h2 {
                        text-transform: uppercase;
                    }
                }

               
            }

            img {
                position: absolute;
                width: 750px;
                bottom: -95px;
            }
        }

        .project {
            padding: 1.5rem ;
           

            .head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5.5rem;
                .title {
                    margin: 0;
                    font-size: 40px;
                    letter-spacing: -1.14px;
                }
                
            }

            .project-card {
                margin-bottom: 5rem;
                img {
                    width: 100%;
                    object-fit: cover;
                }
                h2 {
                    text-transform: uppercase;
                    font-size: $headerMedium;
                    margin-top: 0.8rem;
                    letter-spacing: 1.14px;
                }
                p {
                    text-transform: uppercase;
                    font-size: 25px;
                    margin-bottom: 3rem;
                    
                    span:first-child {
                        margin-right: 2rem;
                    }
                }
                .view-code {
                    font-size: 16px;
                    letter-spacing: 2.29px;

                    a:first-child {
                        margin-right: 3rem;
                    }
                }

                &:last-child {
                    margin-bottom: 10rem;
                }
            }
        }

        footer {
            background-color: $color-grey_dark;
            padding: 4rem 2rem;
            text-align: center;
            
            .contact-title {
                font-size: 40px;
                letter-spacing: -1.41px;
            }

            .contact-message {
                margin-bottom: 5rem;
                font-size: 1.6rem;
                font-weight: 500;
            }

            .message-box {
                position: relative;
                form {
                    display: flex;
                    flex-direction: column;
                  
                    input:first-child, input:nth-child(2), textarea {
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid #ffff;
                        padding: 2rem;
                        font-size: 1.6rem;
                        font-weight: 600;
                        letter-spacing: -0.22px;
                        margin-bottom: 2rem;
                        color: $color-white;
                        &:focus {
                            outline: none;
                            
                        }
                    }

                    .btn {
                        background-color: transparent;
                        border: none;
                        padding: 0 0 1.5rem 0;
                        border-bottom: 2px solid $color-green_light;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: 2.29px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        width: fit-content;
                        font-size: 1.6rem;
                        letter-spacing: 2.29px;
                        margin-left: auto;
                        margin-top: 2.5rem;
                        &:hover {
                            color: $color-green_light;
                        }
                        
                    }

                   
                }
                img {
                    position: absolute;
                    right: 200px;
                    bottom: 6px;
                    width: 650px;
                }
            }
            
            .line {
                width: 100%;
                height: 2px;
                background-color: #fff;
                margin-top: 10rem;
            }
            .details {
                margin-top: 4rem;
                .navbar {
                    a {
                        width: 20px;
                        height: 19px;
                    }
                }
            }
        }
     }

}

//Tablet sized screen
@media screen and (min-width: 800px) {

}

@media screen and(max-width: 799px) {
    main {
        max-width: 420px;
        overflow: hidden;
        
    }
}